

.hero-section {
    margin-bottom: 4rem;
}

.hero-header {
    color: #365590;
    position: relative;
    top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.hero-text {
    color: #7a7c74;
}

.dot {
    height: 15rem;
    width: 15rem;
    background-color: #fff;
    border-radius: 50%;
}

.hero-circles {
    display: flex;
    flex-direction: column;
    margin: 10rem auto;
    justify-content: center;
    align-items: center;
}

.construction-image-container {
    width: 100vw;
}

.construction-image {
    width: 100%;
    max-height: 100%;
}

.civil-engineer-container {
    width: 100vw;
}

.engineer-image {
    width: 100%;
    max-height: 100%;
    border-radius: 90%;
    margin-top: 5.5rem;
}

.herosection-paragraph {
    color: #7a7c74;
    font-size: 1.5rem;
}

.engineer-icons {
    width: 50vw;
    max-height: 80vh;
}

.tool-container {
    width: 100vw;
}

.tool-image {
    width: 50vw;
    height: 70vh;
}

.skill-list-section {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
}

.skill-list {
    padding: 0;
}

.skill-list li {
    list-style: none;
    color: #ADD8E6;
    font-family: 'Avenir Next', sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 1.5rem;
    animation: color 3s infinite linear;
    text-shadow: 0 0 1px #000a;
    text-transform: uppercase;
    transition: all 0.5s;
    letter-spacing: 0.05rem;
}



@media screen and (max-width: 1440px) {
    .engineer-image {
        height: 80vh;
        width: 50vw;
    }
}

@media screen and (min-width: 1105px) {
    .engineer-image {
        width: 40vw;
    }
}

@media screen and (max-width: 992px) {
    .construction-image {
        position: relative;
        top: 5rem;
    }
}

@media screen and (max-width: 850px) {
    .engineer-image {
        height: 100vh;
        width: 70vw;
    }
}

@media screen and (max-width: 600px) {
    .engineer-image {
        height: 80vh;
        width: 70vw;
        border-radius: 90%;
    }
}

@media screen and (max-width: 425px) {
    .engineer-image {
        height: 80vh;
        width: 100vw;
    }
}

@media screen and (max-width: 375px) {
    .engineer-image {
        width: 80vw;
        height: 70vh;
    }
}
