
.hero-paragraph {
    color: #7a7c74;
    font-size: 2rem;
    position: relative;
    top: 7rem;
}

.dot {
    height: 8rem;
    width: 8rem;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    white-space: normal;
    word-break: break-word;
    vertical-align: middle;
    display: flex;
}

.dot-text {
    position: relative;
    top: 3.3rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}


.hero-circles {
    display: flex;
    flex-direction: column;
    margin: 10rem auto;
    justify-content: center;
    align-items: center;
}

.hero-circles span {
    margin-bottom: 1rem;
    display: inline-block;
    text-align: center;
    white-space: normal;
    word-break: break-word;
    vertical-align: middle;
}

.civil-engineer-container {
    width: 100vw;
}

.engineer-image {
    width: 100%;
    max-height: 100%;
    border-radius: 90%;
}

@media screen and (max-width: 1440px) {
    .engineer-image {
        height: 80vh;
        width: 50vw;
    }
}

@media screen and (max-width: 850px) {
    .engineer-image {
        height: 100vh;
        width: 80vw;
    }
}

@media screen and (max-width: 600px) {
    .engineer-image {
        height: 100vh;
        width: 100vw;
        border-radius: 0%;
    }
}

@media screen and (max-width: 350px) {
    .engineer-image {
        height: 70vh;
    }
}

@media screen and (min-width: 769px) {
    .hero-circles {
        display: flex;
        flex-direction: row;
    }

    .hero-circles span {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

