
.skills-section {
    margin-top: 4rem;
}

.skills-header {
    font-size: 2.5rem;
}

.skill-cards {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.skill-card {
    width: 90vw;
    background-color: #f2f9fd;
    margin-left: auto;
    margin-right: auto;
}

.skill-card-image {
    width: 90%;
    height: 80vh;
}

/* @media screena and (min-width: 1400px) and (max-width: 2000px) {
    .skill-card {
        height: 25rem;
    }
} */

@media screen and (max-width: 1399px) {
    .skill-card-image {
        position: relative;
        bottom: 5rem;
    }
}

@media screen and (max-width: 1024px) {
    .skill-card {
        height: 70vh;
    }
}

@media screen and (max-width: 768px) {
    .skills-section {
        margin-bottom: 5rem;
    }

    .skill-cards {
        display: flex;
        flex-direction: column;
    }

    .skill-card {
        box-shadow: none;
        height: 10rem;
    }
}

@media screen and (max-width: 425px) {
    .skills-section {
        margin-bottom: 0rem;
    }

    .skills-header {
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 320px) {
    .skills-section {
        margin-bottom: 0rem;
    }

    .skill-card {
        height: 8rem;
    }
}