
.nav-list {
    color: #7a7c75;
    font-size: 1.5rem;
    font-weight: 700;
    width: 100%;
    text-align: center;
    list-style: none;
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 5rem;
    padding: 1rem;
    cursor: pointer;
}

.nav-list a {
    text-decoration: none;
    color: #fff;
}

.nav-list li {
    padding-right: 1rem;
}

.container {
    display: none;
}

.goner {
    display: none;
}

@media screen and (max-width: 990px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 999;
        width: 100vw;
        height: 70vh;
        position: fixed;
        padding: 2rem 1rem;
        border-radius: 00.5rem;
        background-color: #f2f9fd;
        top: 4rem;
        transition: ease-in-out;
    }
}