
.portfolio-section {
    width: 100%;
    height: fit-content;
    padding: 1rem;
    margin-bottom: 4rem;
}

.portfolio-header-container {
    display: flex;
}

.portfolio-text-container {
    display: flex;
    flex-direction: column;
}

.portfolio-header {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.portfolio-paragraph {
    color: #7a7c74;
    font-size: 1.5rem;
}

.construction-image-container {
    width: fit-content;
}

.construction-image {
    width: 100%;
    max-height: 100%;
}

.portfolio-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.card {
    width: 90vw;
    height: 20rem;
    padding: 1rem;
    box-shadow: 0 7px 35px 30px rgb(0 0 0 / 5%);
    background-color: #f2f9fd;
    padding-top: 1.5rem;
}

.card p {
    text-align: left;
    color: #2975ca;
    font-weight: 500;
}

.card h1 {
    font-family: 'Bangers', sans-serif;
    font-weight: 500;
    color: #452b5b;
    letter-spacing: 0.1rem;
}

.portfolio-image {
    max-width: 100%;
    max-height: 80%;
}

@media screen and (min-width: 2401px) and (max-width: 2800px) {
    .card {
        height: 35rem;
    }

    .card p {
        padding-top: 1rem;
    }

    .portfolio-header-container {
        margin-bottom: 2rem;
    }
}

@media screen and (min-width: 2001px) and (max-width: 2400px) {
    .card {
        width: 100vw;
        height: 35rem;
    }

    .card p {
        padding-top: 0.8rem;
    }

    .portfolio-header-container {
        margin-bottom: 2rem;
    }
}

@media screen and (min-width: 1200px) and (max-width: 2000px) {
    .card {
        height: 25rem;
    }
}

@media screen and (max-width: 1999px) {
    .portfolio-header-container {
        margin-bottom: 2rem;
    }
}

@media screen and (min-width: 1440px) {
    .portfolio-paragraph {
        margin-left: 0.5rem;
    }
}

@media screen and (min-width: 1400px) and (max-width: 2000px) {
    .card {
        height: 32rem;
    }

    .card p {
        padding-top: 1rem;
    }
}

@media screen and (min-width: 800px) and (max-width: 992px) {
    .portfolio-header-container {
        padding-bottom: 5rem;
    }
}

@media screen and (max-width: 768px) {
    .portfolio-header-container {
        display: flex;
        flex-direction: column;
    }

    .portfolio-header {
        text-align: left;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .construction-image-container {
        margin-bottom: 5rem;
    }

    .portfolio-paragraph {
        margin-bottom: 2rem;
        text-align: left;
    }

    .portfolio-text-container {
        display: flex;
        flex-direction: column;
    }

    .portfolio-cards {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 769px) and (max-width: 1440px) {
    .card {
        height: 28rem;
    }

    .card p {
        padding-top: 1.5rem;
    }
}

@media screen and (min-width: 655px) and (max-width: 768px) {
    .card {
        height: 35rem;
    }

    .card p {
        padding-top: 1rem;
    }
}


@media screen and (max-width: 480px) {
    .portfolio-cards {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}

@media screen and (min-width: 426px) and (max-width: 654px) {
    .card {
        width: 70vw;
        height: 29rem;
    }

    .card p {
        padding-top: 1.5rem;
    }

    .portfolio-section {
        margin-top: 0rem;
    }
}

@media screen and (min-width: 320px) and (max-width: 425px) {
    .card {
        height: 27rem;
    }

    .card p {
        padding-top: 1.5rem;
    }
}