
.skill-section {
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4rem;
    border-radius: 10px;
}

.skill-image-container {
    margin-bottom: 2rem;
    width: 100%;
}

.skill-image {
    height: fit-content;
    width: 100%;
    max-width: 16rem;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.skill-image h2 {
    font-size: 2rem;
}

.skill-image p {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1rem;
}

@media screen and (min-width: 1024px) {
    .skill-section {
        padding-bottom: 1rem;
    }

    .skill-image-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .skill-image-container {
        padding: 1rem;
    }

    .skill-image-box h2 {
        font-size: 2rem;
    }

    .skill-paragraph {
        color: #2975ca;
        font-size: 1.5rem;
        margin-top: 1rem;
    }
}

@media screen and (max-width: 1023px) {
    .skill-image-box h2 {
        font-size: 2rem;
    }

    .skill-paragraph {
        color: #2975ca;
        font-size: 1.5rem;
        margin-top: 1rem;
    }
}

@media screen and (max-width: 768px) {
    .skill-image {
        height: 15rem;
        width: 13rem;
    }
}