

.miniNavBar {
    position: fixed;
    width: 100%;
    z-index: 998;
    cursor: pointer;
    height: 5em;
    padding-bottom: 1rem;
}

.active {
    background-color: white;
    color: black;
}










