
.contact-container-background {
    background-color: #336b87;
}

.contact-container {
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 100%;
}

.contact-header {
    color: white;
}

.app-form-control {
    width: 90vw;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
}

.input-section {
    width: 100%;
}

.input-container p {
    color: lightcoral;
}

input::placeholder {
    color: white;
}

textarea::placeholder {
    color: white;
}

.button-container-half {
    display: flex;
    justify-content: space-around;
}

.contact-button {
    margin-bottom: 2rem;
    border: none;
    outline: none;
    color: #fff;
    background-color: #336b87;
    font-size: 1rem;
    cursor: pointer;
}

.contact-button:hover {
    color: #999;
}

@media  screen and (min-width: 998px) and (max-width: 2800px) {
    .contact-container {
        display: flex;
        width: 100%;
    }

    .contact-header {
        padding: 2rem;
    }

    .input-section {
        padding: 1rem;
    }

    .app-form-control {
        width: 50vw;
        float: right;
        padding-right: 1rem;
    }

    .button-container-half {
        position: relative;
        bottom: 3rem;
    }

    .button-container {
        display: flex;
        flex-direction: row-reverse;
        position: relative;
        top: 2.5rem;
    }
}

@media screen and (min-width: 998px) and (max-width: 1440px) {
    .input-section {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
}



@media screen and (max-width: 997px) {
    .contact-divider {
        width: 90vw;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .button-container-half {
        display: flex;
        flex-direction: column;
    }
}